 Hi <%= user.name %>,

Thanks for registering! To confirm your registration click the URL below.

<%=  <a href="/:token/confirm_email/"> confirm_email_url(user.confirm_token, host: "http://localhost:4567") </a>%>
