* {
  box-sizing: border-box;
}

html, body {
  color: #0A4495;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  height:100%;
  margin: 0 0 0 0;
  width: 100%;
}

#reset_pass_link {
  all: initial;
  color: #CC0000;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
}

/***MOBILE MENU**************************************************/
.mobile-header {
  background-color: rgb(44, 100, 180);
  display:none;
}

.eds-burger {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  right: 45px;
  top: 30px;
}

.ham1, .ham2, .ham3 {
  background-color: #FFF;
  height: 5px;
  margin: 6px 0;
  transition: 0.4s;
  width: 35px;
}

.change .ham1 {
  transform: rotate(-45deg) translate(-9px, 6px);
  -moz-transform: rotate(-45deg) translate(-9px, 6px);
  -ms-transform: rotate(-45deg) translate(-9px, 6px);
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
}

.change .ham2 {
  opacity: 0;
}

.change .ham3 {
  transform: rotate(45deg) translate(-8px, -8px);
  -moz-transform: rotate(45deg) translate(-8px, -8px);
  -ms-transform: rotate(45deg) translate(-8px, -8px);
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
}

.mobile-menu-list {
  list-style: none;
  margin-top:200px;
  vertical-align: middle;
}

/*** GRIDS START ******************************************************************/

/*** body class="eds" ----> GRID: ***/
.eds__left {
  background-color: #5288D3;
  grid-area: side-left;
}

.eds__header {
  grid-area: header;
}

.eds__right {
  background-color: #5288D3;
  grid-area: side-right;
}

.eds__top-bar {
  background-color: rgba(44, 100, 180, 1);
  grid-area: top-bar;
}

.eds__main {
  grid-area: main;
}

.eds__footer {
  background-color: rgba(44, 100, 180, 1);
  grid-area: footer;
  vertical-align: bottom;
}

.eds {
  display:grid;
  grid-template-areas: "side-left header side-right"
                       "side-left top-bar side-right"
                       "side-left main side-right"
                       "side-left footer side-right";
  grid-template-columns: 220px 1fr 220px;
  grid-template-rows: 193px
                      50px
                      1fr
                      30px;
  min-height: 100vh;
}

/*** div class="eds__top-bar" ----> grid ***/
.eds__top-bar {
  color: #FFFFFF;
  display: grid;
  font: normal normal normal 11px/1.1em 'Noticia Text',serif;
  grid-template-areas: "nav-item-1 nav-item-2 nav-item-3 nav-item-4 nav-item-5";
  grid-template-columns: auto;
  text-decoration: none;
}

.nav__link_1 { grid-area: nav-item-1; align-self:center; margin:0 auto; }
.nav__link_2 { grid-area: nav-item-2; align-self:center; margin:0 auto; }
.nav__link_3 { grid-area: nav-item-3; align-self:center; margin:0 auto; }
.nav__link_4 { grid-area: nav-item-4; align-self:center; margin:0 auto; }
.nav__link_5 { grid-area: nav-item-5; align-self:center; margin:0 auto; }

div[class^="nav__link_"] a[id^="nav__link_"] {
  color: #FFFFFF;
  display: block;
  text-align: center;
}

a:active {
  display: block;
}

a[id^="nav__link_"] {
  text-decoration: none;
}

a[id^="nav__link_"]:visited {
  color: #FFFFFF;
  display: block;
  margin:inherit;
  text-decoration: none;
}

/*a[id^="nav__link_"]:hover {
  margin
  text-decoration: none;
}*/

/*** main class="eds" ----> GRID: ***/
.content__space { grid-area: content-space; }
.left__border   { grid-area: left-border;   background-color: #C3D5F0; }
.top__border    { grid-area: top-border;    background-color: #C3D5F0; }
.right__border  { grid-area: right-border;  background-color: #C3D5F0; }
.bottom__border { grid-area: bottom-border; background-color: #C3D5F0; }

.eds__main {
  display: grid;
  grid-area: main;
  grid-template-areas: "left-border top-border right-border"
                       "left-border content-space right-border"
                       "left-border bottom-border right-border";
  grid-template-columns: 20px auto 20px;
  grid-template-rows: 20px auto 20px;
  height:100%;
}

/*** div class="content__space" ----> GRID: ***/
.landing__right { grid-area: landing-right; }
.landing__image { grid-area: landing-image; }

.landing__image img { max-width: 100%; max-height: 100%; }

.content__space {
  display:grid;
  grid-template-areas: "landing-image landing-right"
                       "landing-image landing-right"
                       "landing-image landing-right"
                       "landing-image landing-right"
                       "landing-image landing-right";
  grid-template-columns: auto 40%;
  grid-template-rows:100%;
  height:100%;
  margin: 20px;
}

/**************GRID ENDS**************************************/

/*** HEADER ***/
.header-container {
}

.eds__header img {
  display:inline-block;
  height: 91px;
  vertical-align: middle;
  width: 118px;
}

header {
  margin: 0 auto;
}

.logo-title {
    margin-left: -110px;
}

.eds__header h1:first-of-type, .eds__header h1:last-of-type {
  text-align: center;
  display:inline-block;
}

.eds__header h1 span {
  font: normal normal normal 19px/1.1em 'Times New Roman',times,serif;
  font-family: "Times New Roman", times, serif;
  font-size: 30px;
  letter-spacing: 0.3em;
  line-height: normal;
  vertical-align: middle;
}

.eds__header p {
  font-family: "Times New Roman", times, serif;
  font-size: 14px;
}

/*** HEADER ENDS ******************************************/

/*LANDING* *Overlay Starts */

.overlay {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.6);
  height: 0%;
  left: 0;
  overflow-y: hidden;
  position: fixed;
  top: 0;
  transition: 0.5s;
  width: 100%;
  z-index: 1;
}

.overlay-content {
  margin: 0 auto;
  margin-top: 30px;
  padding-top:5%;
  position: relative;
  text-align: center;
  width: 25%;
}

.overlay a {
  color: #818181;
  display: block;
  font-size: 36px;
  padding: 8px;
  text-decoration: none;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  font-size: 60px;
  position: absolute;
  right: 45px;
  top: 20px;
}

#form-overlay-box {
  background-color: #0A4495;
  border: 5px solid #0A4495;
}

div.tab {
  overflow: hidden;
  border: 1px solid #0A4495;
  background-color: #0A4495;
}

div.tab button {
  background-color: inherit;
  border: none;
  color: #fff;
  cursor: pointer;
  float: left;
  font: normal normal normal normal 16px / 20px "Open Sans", sans-serif;
  outline: none;
  padding: 14px 16px;
  transition: 0.3s;
}

div.tab button:hover {
  background-color: #5288D3;
}

div.tab button.active {
  background-color: #5288D3;
}

.tabcontent {
  background-color: rgba(44, 100, 180, .6);
  border: 1px solid #0A4495;
  border-top: none;
  display: none;
  min-height: 500px;
  padding: 6px 12px;
}

.form-title {
  font: normal normal normal normal 24px / 28px "Open Sans", sans-serif;
  color:#fff;
}

/*LANDING* Content Space Starts */

.landing__text {
  margin-left: 65px;
  margin-top: 75px;
 }

.landing__signin {
  margin-left: 55px;
  margin-top: 20px;
}

.landing__register {
  margin-left: 55px;
  margin-top: 20px;
}

.landing__quickpay {
  margin-left: 55px;
  margin-top: 20px;
}

/*LANDING* *Content Space* Ribbon Starts**/

#rib_div_1 {
  font: normal normal normal normal 10px / normal Arial, Helvetica, sans-serif;
  height: 100%;
  left: -30px;
  margin-left: 60px;
  perspective-origin: 169px 28.5px;
  position: relative;
  transform-origin: 169px 28.5px;
  width: 100%;
}

#rib_div_2 {
  border-top: 10px solid rgba(0, 0, 0, 0);
  border-right: 0px solid rgba(0, 0, 0, 0);
  border-bottom: 10px solid rgba(0, 0, 0, 0);
  border-left: 10px solid rgba(0, 0, 0, 0);
  bottom: -10px;
  font: normal normal normal normal 10px / normal Arial, Helvetica, sans-serif;
  left: 0px;
  perspective-origin: 5px 10px;
  position: absolute;
  top: 47px;
  transform-origin: 5px 10px;
}

#rib_div_3 {
  bottom: -10px;
  border-top: 10px solid rgb(82, 136, 212);
  border-right: 10px solid rgba(0, 0, 0, 0);
  border-bottom: 10px solid rgba(0, 0, 0, 0);
  border-left: 0px solid rgba(0, 0, 0, 0);
  font: normal normal normal normal 10px / normal Arial, Helvetica, sans-serif;
  perspective-origin: 5px 10px;
  position: absolute;
  right: 0px;
  top: 47px;
  transform-origin: 5px 10px;
}

/* FIXME: start from here */

#rib_div_4 {
    bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px 0px;
    height: 47px;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100%;
    perspective-origin: 169px 23.5px;
    transform-origin: 169px 23.5px;
    background: rgb(10, 68, 149) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px solid rgb(10, 68, 149);
    font: normal normal normal normal 10px / normal Arial, Helvetica, sans-serif;
}

#rib_div_5 {
    bottom: 10px;
    height: 47px;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100%;
    perspective-origin: 169px 23.5px;
    transform-origin: 169px 23.5px;
    font: normal normal normal normal 10px / normal Arial, Helvetica, sans-serif;
}

#rib_div_6 {
    bottom: 12px;
    height: 24px;
    overflow-wrap: break-word;
    position: absolute;
    right: 16px;
    top: 11px;
    width: 90%;
    word-wrap: break-word;
    perspective-origin: 155px 12px;
    transform-origin: 155px 12px;
    font: normal normal normal normal 10px / normal Arial, Helvetica, sans-serif;
}

#rib_h5 {
    color: rgb(132, 130, 130);
    height: 24px;
    overflow-wrap: break-word;
    text-align: center;
    text-decoration: none solid rgb(132, 130, 130);
    width: 100%;
    word-wrap: break-word;
    column-rule-color: rgb(132, 130, 130);
    perspective-origin: 155px 12px;
    transform-origin: 155px 12px;
    caret-color: rgb(132, 130, 130);
    border: 0px none rgb(132, 130, 130);
    font: normal normal normal normal 20px / 24px "Open Sans", sans-serif;
    margin: 0px;
    outline: rgb(132, 130, 130) none 0px;
}

#rib_span_1 {
    color: rgb(132, 130, 130);
    overflow-wrap: break-word;
    text-align: center;
    text-decoration: none solid rgb(132, 130, 130);
    word-wrap: break-word;
    column-rule-color: rgb(132, 130, 130);
    caret-color: rgb(132, 130, 130);
    border: 0px none rgb(132, 130, 130);
    font: normal normal normal normal 20px / 24px "Open Sans", sans-serif;
    outline: rgb(132, 130, 130) none 0px;
}

#rib_span_2 {
    color: rgb(255, 255, 255);
    overflow-wrap: break-word;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    word-wrap: break-word;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 20px / 24px "Open Sans", sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}

/*LANDING* *Content Space* Buttons Starts**/

#sign_in_link {
    background-position: 50% 0%;
    bottom: 0px;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 4px 0px;
    cursor: pointer;
    display: flex;
    height: 55px;
    left: 0px;
    right: 0px;
    text-decoration: none solid rgb(0, 0, 238);
    top: 0px;
    width: 100%;
    float:left;
    align-items: center;
    justify-content: center;
    perspective-origin: 152.5px 27.5px;
    transform-origin: 152.5px 27.5px;
   background: rgb(44, 100, 180) url("https://static.parastorage.com/services/skins/2.1229.72/images/wysiwyg/core/themes/base/shiny2button_bg.png") repeat-x scroll 50% 0% / auto padding-box border-box;
    border: 0px solid rgb(44, 100, 180);
    font: normal normal normal normal 10px / normal Arial, Helvetica, sans-serif;
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
}

#sign_in_span {
    bottom: 0px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    height: 20px;
    left: 0px;
    min-height: auto;
    min-width: auto;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(255, 255, 255);
    top: 0px;
    white-space: nowrap;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 39.9219px 10px;
    transform-origin: 39.9219px 10px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 16px / 20.8px "Open Sans", sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    transition: color 0.4s ease 0s;
}

#register_link {
    margin-top: 20px;
    float:left;
    background-position: 50% 0%;
    bottom: 0px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px 0px;
    cursor: pointer;
    display: flex;
    height: 55px;
    left: 0px;
    right: 0px;
    text-decoration: none solid rgb(0, 0, 238);
    top: 0px;
    width: 100%;
    align-items: center;
    justify-content: center;
    perspective-origin: 152.5px 27.5px;
    transform-origin: 152.5px 27.5px;
    background: rgb(10, 190, 255) url("https://static.parastorage.com/services/skins/2.1229.72/images/wysiwyg/core/themes/base/shiny2button_bg.png") repeat-x scroll 50% 0% / auto padding-box border-box;
    border: 0px solid rgb(10, 190, 255);
    font: normal normal normal normal 10px / normal Arial, Helvetica, sans-serif;
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
}

#register_span {
    bottom: 0px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    height: 20px;
    left: 0px;
    min-height: auto;
    min-width: auto;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(255, 255, 255);
    top: 0px;
    white-space: nowrap;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 27.1719px 10px;
    transform-origin: 27.1719px 10px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 16px / 20.8px "Open Sans", sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    transition: color 0.4s ease 0s;
}

#quickpay_link {
    margin-top: 50px;
    background-position: 50% 0%;
    bottom: 0px;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 4px 0px;
    cursor: pointer;
    display: flex;
    height: 55px;
    left: 0px;
    right: 0px;
    text-decoration: none solid rgb(0, 0, 238);
    top: 0px;
    width: 100%;
    float:left;
    align-items: center;
    justify-content: center;
    perspective-origin: 152.5px 27.5px;
    transform-origin: 152.5px 27.5px;
   background: rgb(44, 100, 180) url("https://static.parastorage.com/services/skins/2.1229.72/images/wysiwyg/core/themes/base/shiny2button_bg.png") repeat-x scroll 50% 0% / auto padding-box border-box;
    border: 0px solid rgb(44, 100, 180);
    font: normal normal normal normal 10px / normal Arial, Helvetica, sans-serif;
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
}

#quickpay_span {
    bottom: 0px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    height: 20px;
    left: 0px;
    min-height: auto;
    min-width: auto;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(255, 255, 255);
    top: 0px;
    white-space: nowrap;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 39.9219px 10px;
    transform-origin: 39.9219px 10px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 16px / 20.8px "Open Sans", sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    transition: color 0.4s ease 0s;
}


/*** LANDING ENDS **************************************************/


/*** FORMS START ***/

#main-form {
  margin: 0 auto;
}

.form {
  padding-top: 40%;

}
.form-s {
  max-width: 435px;
}

form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
form button {
  text-transform: uppercase;
  outline: 0;
  background: rgba(44, 100, 180, 1);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: rgba(44, 100, 180, 1);
  text-decoration: none;
}

/*** FORMS END *****************************************/


/*** FLASH STARTS **/

.alert-box {
    color:#FFFFFF;
    background: rgba(44, 100, 180, 1);
    font-family: "Roboto", sans-serif;
    font-size:15px;
    padding:10px 10px 10px 36px;
    text-align:center;
}

.alert-box span {
    font-weight:bold;
    text-transform:uppercase;
}

/*** FLASH ENDS ***************************************/





/*** MEDIA QUERIES START ***/


@media screen and (min-width : 600px) and (max-width : 1024px) {
 .eds {
    display:grid;
    grid-template-areas: "header"
                         "top-bar"
                         "main";

    grid-template-columns: 100%;
    grid-template-rows: 193px
                        50px
                        1fr;

  }

  .overlay-content {
    width:75%;
  }
}

@media screen and (max-width: 600px) {

  .eds {
    display:grid;
    grid-template-areas: "mobile-header"
                         "header"
                         "main";

    grid-template-columns: 100%;
    grid-template-rows: 100px
                        150px
                        auto;

  }

  .mobile-header {
    grid-area: mobile-header;
    top:0;
    display:block;
    position:sticky;
    z-index:1000;
  }


  .eds__main {
    grid-area: main;
    display: grid;
    height:100%;
    grid-template-areas: "content-space";

    grid-template-columns: auto;
    grid-template-rows: auto;
  }

  .content__space {
    margin: 20px;
    grid-area: content-space;
    display:grid;
    grid-template-areas: "landing-image"
                         "landing-right"
                         "landing-right"
                         "landing-right"
                         "landing-right";
    grid-template-columns: 100%;
    grid-template-rows: 100%
                        auto-fill
                        auto-fill
                        auto
                        auto;
    min-height:100vh;
  }

  .landing__ribbon, .landing__text, .landing__signin, .landing__register,
  .landing__quickpay {
    margin-left: 0px;
  }

  .landing__right {
    margin-top:-25vh;
    vertical-align: top;
  }
  .landing__ribbon {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
  }
  #rib_div_4, #rib_div_3 {
    border-top:none;
  }

  #rib_div_1 {
    margin-left: 0px;
    left: 0px;
  }

  .form, .form-s {
    padding-top: 100px;
  }
  .logo-title {
    -webkit-margin-before: 0em;
  }
  .overlay-content {
    width:75%;
  }
  .overlay .closebtn {
    right: 30px;
    top: 0px;
  }

}

/*** MEDIA QUERIES END *********************************/

