@import url(https://fonts.googleapis.com/css?family=Roboto:300);


html, body {
  width: 100%;
  height:100%;
  margin: 0 0 0 0;
  font-family: "Roboto", sans-serif;
}


.tps__header { grid-area: header; margin: 0 auto;}
.tps__footer { grid-area: footer; }
.tps__main { grid-area: main; margin: 0 auto; }
.tps__left { grid-area: side-left; background-color: #4373C8; }
.tps__right { grid-area: side-right; background-color: #4373C8; }
.tps_footer {grid-area: footer; }
.tps__header img { max-height: 100%; max-width: 100%; align-self: center;}

.tps {
  display:grid;
  grid-template-areas: "side-left header side-right"
                       "side-left main side-right"
                       "side-left footer side-right";
  grid-template-columns: 150px 1fr 150px;
  grid-template-rows: 100px
                      1fr
                      30px;
  min-height: 100vh;
}

.form {
  padding-top: 40%
}

form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
form button {
  text-transform: uppercase;
  outline: 0;
  background: rgba(44, 100, 180, 1);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: rgba(44, 100, 180, 1);
  text-decoration: none;
}

/*****flash notifications*****/

.alert-box {
    color:#FFFFFF;
    background: rgba(44, 100, 180, 1);
    font-family: "Roboto", sans-serif;
    font-size:15px;
    padding:10px 10px 10px 36px;
    text-align:center;
}

.alert-box span {
    font-weight:bold;
    text-transform:uppercase;
}

/*****flash notifications end******/







/***Media Queries Start***/



@media screen and (max-width: 600px) {
  .tps {
    grid-template-areas: "header"
                         "side-left"
                         "main"
                         "side-right"
                         "footer";
    grid-template-columns: 100%;
    grid-template-rows: 100px
                        50px
                        1fr
                        50px
                        30px;
  }
}

/***Media Queries End***/




