<main class="eds__main">
  <left-border class="left__border"></left-border>
  <top-border class="top__border"></top-border>
  <div class="content__space">
    Account Settings for <%= user.first_name %>
  </div>
  <right-border class="right__border"></right-border>
  <bottom-border class="bottom__border"></bottom-border>
</main>
<aside class="eds__left">
</aside>
<aside class="eds__right">
</aside>
<footer class="eds__footer">
</footer>
