<div class="dashboard-container">
  <div class="left-container"></div>
  <div class="dashboard-center-container">
    <div class="logo">
      <img class="logo" src="/images/tps-logo.png" alt="tps logo">
    </div>
    <div class="dashboard-navigation">
      <div class="nav-wrapper">
        <div class="nav-item"><a href="#">Tuition Plans</a></div>
        <div class="nav-item"><a href="#">Make A Payment</a></div>
        <div class="nav-item"><a href="#">Payment History</a></div>
        <div class="nav-item"><a href="#">Account Settings</a></div>
        <div class="nav-item"><a href="#">Sign Out</a></div>
      </div>
    </div>
    <div class="dashboard-content-container">
    Dashboard Home
    </div>
  </div>
  <div class="right-container"></div>
</div>
