<header class="tps__header">
  <img src="/images/tps-logo.png" alt="tps logo">
</header>
<div class="tps__flash">
  <% flash.keys.each do |type| %>
    <div data-alert class="flash <%= type %> alert-box radius">
        <%= flash[type] %>
        <a href="#" class="close">&times;</a>
    </div>
  <% end %>
</div>
<main class="tps__main">
  Nothing to see here.
</main>
<aside class="tps__left">
 <div class="nav-item"><a href="#">Tuition Plans</a></div>
        <div class="nav-item"><a href="#">Make A Payment</a></div>
        <div class="nav-item"><a href="#">Payment History</a></div>
        <div class="nav-item"><a href="#">Account Settings</a></div>
        <div class="nav-item"><a href="/logout">Sign Out</a></div>
</aside>
<aside class="tps__right">
</aside>
<footer class="tps__footer">
</footer>
