<main class="eds__main">
  Nothing to see here.
</main>
<aside class="eds__left">
 <div class="nav-item"><a href="#">Tuition Plans</a></div>
        <div class="nav-item"><a href="#">Make A Payment</a></div>
        <div class="nav-item"><a href="#">Payment History</a></div>
        <div class="nav-item"><a href="#">Account Settings</a></div>
        <div class="nav-item"><a href="/logout">Sign Out</a></div>
</aside>
<aside class="eds__right">
</aside>
<footer class="eds__footer">
</footer>
