
<script src="/javascripts/landing.js" type="text/javascript"></script>
<script src="/javascripts/tab-forms.js" type="text/javascript"></script>
<div id="loginForm" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeForms()">&times;</a>
  <div class="overlay-content">

    <div class="tab">
      <button class="tablinks" onclick="tabForm(event, 'signIn')">Sign In</button>
      <button class="tablinks" onclick="tabForm(event, 'signUp')">Register</button>
      <button class="tablinks" onclick="tabForm(event, 'forgotPass')">Forgot Password?</button>
    </div>

    <div id="signIn" class="tabcontent">
      <form action="/session/new" method="post" id="form-style">
        <input type="text" placeholder="Email or Username" name="username"/>

        <input type="text" placeholder="Password" name="password" type="password"/>

        <button type="submit">LOGIN</button>
      </form>
    </div>

    <div id="signUp" class="tabcontent">
      <form class="form-s" action="/user/new" method="post">

        <input type="text" placeholder="First Name" name="first_name"/>

        <input type="text" placeholder="Last Name" name="last_name"/>

        <input type="email" placeholder="Email" name="email"/>

        <input type="text" placeholder="Username" name="username"/>

        <input type="password" placeholder="Password" name="password"/>

        <input type="password" placeholder="Password Confirmation" name="password_confirmation"/>

        <button type="submit">REGISTER</button>

      </form>
    </div>

    <div id="forgotPass" class="tabcontent">
      <form action="/reset" method="post" id="form-style">
        <input type="text" placeholder="Email" name="email"/>
        <button type="submit">RESET PASSWORD</button>
      </form>
    </div>
  </div>
</div>

<top-border></top-border>
<main class="eds__main">

  <div class="landing">
    <div class="landing__image"><img src="/images/landing.png" alt="eds landing image"></div>
      <div class="landing__ribbon">
        <div id="rib_div_1">
          <div id="rib_div_2"></div>
          <div id="rib_div_3"></div>
          <div id="rib_div_4"></div>
          <div id="rib_div_5">
            <div id="rib_div_6">
              <h5 id="rib_h5">
                <span id="rib_span_1">
                  <span id="rib_span_2">EDS TUITION PORTAL</span>
                </span>
              </h5>
            </div>
          </div>
        </div>
      </div>

    <div class="landing__text">Tuition Portal Landing Text</div>
    <div class="landing__signin">
      <a href="/sign-in" id="sign_in_link" onclick="openForms(event)" name="signIn">
        <span id="sign_in_span">Sign In</span>
      </a>
    </div>

    <div class="landing__register">
      <a href="/user/new" id="register_link" onclick="openForms(event)" name="signUp">
        <span id="register_span" name="signUp">Register</span>
      </a>
      <p class="message">Forgot your Password? <a href="/reset" onclick="openForms(event)" name="forgotPass">Reset your password</a></p>
    </div>
    <div class="landing__quickpay">QUICKPAY BUTTON</div>
  </div>

</main>

<aside class="eds__left"></aside>
<left-border></left-border>
<aside class="eds__right"></aside>
<right-border></right-border>
<bottom-border></bottom-border>
<footer class="eds__footer"></footer>
