
<script src="/javascripts/landing.js" type="text/javascript"></script>
<top-border></top-border>
<div id="loginForm" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeForm()">&times;</a>
  <div class="overlay-content">
    <form action="/session/new" method="post">
      <input type="text" placeholder="Email or Username" name="username"/>

      <input type="text" placeholder="Password" name="password" type="password"/>

      <button type="submit">LOGIN</button>

      <p class="message">Not registered? <a href="/user/new">Create an account</a></p>
  </form>
  </div>
</div>


<main class="eds__main">

  <div class="landing">
    <div class="landing__image"><img src="/images/landing.png" alt="eds landing image"></div>
      <div class="landing__ribbon">
        <div id="rib_div_1">
          <div id="rib_div_2"></div>
          <div id="rib_div_3"></div>
          <div id="rib_div_4"></div>
          <div id="rib_div_5">
            <div id="rib_div_6">
              <h5 id="rib_h5">
                <span id="rib_span_1">
                  <span id="rib_span_2">EDS TUITION PORTAL</span>
                </span>
              </h5>
            </div>
          </div>
        </div>
      </div>

    <div class="landing__text">Tuition Portal Landing Text</div>
    <div class="landing__signin">
      <a href="/sign-in" id="sign_in_link" onclick="openForm(event)">
        <span id="sign_in_span">Sign In</span>
      </a>
    </div>

    <div class="landing__register">
      <a href="/user/new" id="register_link">
        <span id="register_span">Register</span>
      </a>
    </div>

    <div class="landing__quickpay">QUICKPAY BUTTON</div>
  </div>

</main>

<aside class="eds__left"></aside>
<left-border></left-border>
<aside class="eds__right"></aside>
<right-border></right-border>
<bottom-border></bottom-border>
<footer class="eds__footer"></footer>
