<!doctype html>
<html>
  <head>
    <meta charset="utf8">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="/javascripts/eds-menu.js" type="text/javascript"></script>
  </head>
  <body class="eds">
    <div class="mobile-header">
      <div class="eds-burger" onclick="changeBurger(this);" id="hamburger">
        <div class="ham1"></div>
        <div class="ham2"></div>
        <div class="ham3"></div>
      </div>
    </div>
    <div id="mobileMenu" class="overlay" style="height:0%;">

      <div class="overlay-content">
       <ul class="mobile-menu-list">
          <li><a href="#">Tuition Plans</a></li>
          <li><a href="#">Make A Payment</a></li>
          <li><a href="#">Payment History</a></li>
          <li><a href="#">Account Settings</a></li>
          <li><a href="#">Sign Out</a></li>
        </ul>
      </div>
    </div>
    <header class="eds__header">
       <div class="eds__flash">
        <% flash.keys.each do |type| %>
          <div data-alert class="flash <%= type %> alert-box radius">
            <%= flash[type] %>
            <a href="#" class="close">&times;</a>
          </div>
        <% end %>
        </div>
      <div class="header-container" align="center" style="display:block">
        <h1><span>EXETER</span></h1>
        <img src="/images/eds-logo.png" alt="eds logo">
        <h1><span>DAY SCHOOL</span></h1>
        <p class="logo-title">CIRCLE OF FRIENDS</p>
      </div>
    </header>
    <div class="eds__top-bar">
      <div class="nav__link_1"><a id="nav__link_1" href="#">Tuition Plans</a></div>
      <div class="nav__link_2"><a id="nav__link_2" href="#">Make A Payment</a></div>
      <div class="nav__link_3"><a id="nav__link_3" href="#">Payment History</a></div>
      <div class="nav__link_4"><a id="nav__link_4" href="#">Account Settings</a></div>
      <div class="nav__link_5"><a id="nav__link_5" href="/logout">Sign Out</a></div>
    </div>


    <%= yield %>
    <footer class="eds__footer"></footer>
  </body>
</html>



