<!doctype html>
<html>
  <header>
    <meta charset="utf8">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </header>
  <body class="tps">
    <% flash.keys.each do |type| %>
      <div data-alert class="flash <%= type %> alert-box radius">
        <%= flash[type] %>
        <a href="#" class="close">&times;</a>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>

