<!doctype html>
<html>
  <head>
    <meta charset="utf8">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title>Tuition Payment System</title>
  </head>
  <body>
    <main><%= yield %></main>
  </body>
</html>
