<header class="tps__header">
  <img src="/images/tps-logo.png" alt="tps logo">
</header>
<div class="tps__flash">
  <% flash.keys.each do |type| %>
    <div data-alert class="flash <%= type %> alert-box radius">
        <%= flash[type] %>
        <a href="#" class="close">&times;</a>
    </div>
  <% end %>
</div>
<main class="tps__main">
  <form class="form-s" action="/user/new" method="post">
    <input type="text" placeholder="First Name" name="first_name"/>

    <input type="text" placeholder="Last Name" name="last_name"/>

    <input type="email" placeholder="Email" name="email"/>

    <input type="text" placeholder="Username" name="username"/>

    <input type="password" placeholder="Password" name="password"/>

    <input type="password" placeholder="Password Confirmation" name="password_confirmation"/>

    <button type="submit">Register</button>
  </form>
</main>
<aside class="tps__left">
</aside>
<aside class="tps__right">
</aside>
<footer class="tps__footer">
</footer>
