<main>

  <div class="left-container"></div>
  <form action="/user/new">
    <label for="username">Create Username</label>
    <input type="text" placeholder="Username" name="username"/>

    <label for="password">Create Password</label>
    <input type="password" placeholder="Password" name="password"/>

    <label for="password">Confirm Password</label>
    <input type="password" placeholder="Password" name="password"/>

    <label for="first_name">First Name</label>
    <input type="text" placeholder="First Name" name="first_name"/>

    <label for="last_name">Last Name</label>
    <input type="text" placeholder="Last Name" name="last_name"/>

    <label for="email">Email</label>
    <input type="email" placeholder="Email" name="email"/>

    <button type="submit">Submit</button>
  </form>
  <div class="right-container"></div>
</main>
