
<main class="eds__main">
  <left-border class="left__border"></left-border>
  <top-border class="top__border"></top-border>
  <div class="form__space">
    <form class="form" action="/<%= params[:token] %>/password_reset" method="post">

    <input type="password" placeholder="Password" name="password"/>

    <input type="password" placeholder="Password Confirmation" name="password_confirmation"/>


    <button type="submit">RESET PASSWORD</button>
  </form>
  </div>
  <right-border class="right__border"></right-border>
  <bottom-border class="bottom__border"></bottom-border>
</main>
