<top-border></top-border>

<main class="eds__main" id="main-form">
  <form class="form" action="/session/new" method="post">

    <form action="/reset" method="post" id="form-style">

    <input type="text" placeholder="Email" name="email"/>

    <button type="submit">RESET PASSWORD</button>
  </form>
</main>

<left-border></left-border>

<aside class="eds__left"></aside>

<right-border></right-border>

<aside class="eds__right"></aside>

<bottom-border></bottom-border>

<footer class="eds__footer"></footer>
