
<main class="eds__main">
  <left-border class="left__border"></left-border>
  <top-border class="top__border"></top-border>
  <div class="form__space">
    <form class="form" action="/session/new" method="post">

      <input type="text" placeholder="Email" name="email"/>

      <button type="submit">RESET PASSWORD</button>
    </form>
  </div>
  <right-border class="right__border"></right-border>
  <bottom-border class="bottom__border"></bottom-border>
</main>
