<header class="tps__header">
  <img src="./images/tps-logo.png" alt="tps logo">
</header>
<main class="tps__main">
  <form class="form" action="/session/new">
      <input type="text" placeholder="Username" name="username"/>

      <input type="text" placeholder="Password" name="password"/>

      <button type="submit">LOGIN</button>

      <p class="message">Not registered? <a href="/user/new">Create an account</a></p>
    </form>
</main>
<aside class="tps__left">
</aside>
<aside class="tps__right">
</aside>
<footer class="tps__footer">
</footer>

