<top-border></top-border>
<main class="eds__main" id="main-form">
    <form class="form" action="/session/new" method="post">
      <input type="text" placeholder="Email or Username" name="username"/>

      <input type="text" placeholder="Password" name="password" type="password"/>

      <button type="submit">LOGIN</button>

      <p class="message">Not registered? <a href="/user/new">Create an account</a></p>
  </form>
</main>
<aside class="eds__left">
  <left-border></left-border>
</aside>
<aside class="eds__right">
  <right-border></right-border>
</aside>
<bottom-border></bottom-border>
<footer class="eds__footer">
</footer>


