
<div class="signin-container">
  <div class="left-container"></div>
  <div class="center-container">
    <div class="logo">
      <img src="./images/tps-logo.png" alt="tps logo">
    </div>

    <form class="form" action="/session/new">
      <input type="text" placeholder="Username" name="username"/>

      <input type="text" placeholder="Password" name="password"/>

      <button type="submit">LOGIN</button>

      <p class="message">Not registered? <a href="/user/new">Create an account</a></p>
    </form>

  </div>
  <div class="right-container"></div>
</div>
